---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const url =
  "https://raw.githubusercontent.com/mawu0001/frontend-design/main/resources/json/employees.json";

const employeeData = await fetch(url).then((res) => res.json());
---

<BaseLayout title="Employee">
  <section>
    <article class="content" class="flow-space">
      <div class="localhead" class="flow-space">
        <h4>{employeeData[0].name}</h4>
        <h6>{employeeData[0].title}</h6>

        <ul class="socials">
          <li><a href="#"><Icon name="facebook" /></a></li>
          <li><a href="#"></a><Icon name="instagram" /></li>
          <li><a href="#"></a><Icon name="twitter" /></li>
          <li><a href="#"></a><Icon name="linked-in" /></li>
        </ul>
      </div>
      <p>{employeeData[0].description}</p>

      <h4>Past experience</h4>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit sed do. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
    </article>
    <figure>
      <img src={employeeData[0].img} alt={employeeData[0].name} />
    </figure>
  </section>
</BaseLayout>

<style>
  @layer component {
    section {
      display: flex;
      flex-direction: row;
      min-width: 0;
      max-width: 1200px;
      margin-top: 8rem;
      gap: 4rem;
    }

    article {
      order: 2;
    }
    .content {
      grid-row: 1;

      .localhead {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      ul {
        grid-row: 1;
        list-style: none;
        display: flex;
        grid-column: 2;
        justify-content: space-evenly;
        [data-icon] {
          height: 24px;
          width: 24px;
          color: var(--black);
        }
      }
    }
    .text-content {
      grid-row: 2;
    }
    figure {
      position: relative;
      display: block;
      order: 1;
      &::before {
        --square-count: 15;
        --square-size: 1.34rem;

        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: -1;
        content: "";
        position: absolute;
        top: -65px;
        left: -65px;
        inline-size: calc(
          round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
        );
        aspect-ratio: 1;
        background: linear-gradient(
            135deg,
            #be965d,
            #976f40,
            #c99b61,
            #f0be7b,
            #ffcb85,
            #eebc79,
            #c0935b,
            #976f40
          )
          0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) /
            var(--_square-size) var(--_square-size);
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
      }

      &::after {
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        background: var(--green);
        width: 150px;
        height: 150px;
        border-radius: 2rem;
        z-index: -1;
      }
      img {
        aspect-ratio: 1/1;
        border-radius: 2rem;
      }
    }
    h4,
    h6,
    p {
      margin-block-start: var(--flow-space);
    }
  }
</style>
