---
import Banner from "./Banner.astro";
import CoreValueCard from "./CoreValueCard.astro";

const { data, theme, icon } = Astro.props;
---

<section class="full-bleed" data-theme={theme}>
  <article>
    <header>
      <div class="flow-space">
        <Banner text="Growing with our Clients" theme="yellow" />
        <h2>{data.title}</h2>
        <p>{data.subtitle}</p>
      </div>
      <button data-theme={theme}>Get in touch</button>
    </header>
    <ul>
      {data.values.map((corevalues) => <CoreValueCard {corevalues} />)}
    </ul>
  </article>
</section>

<style>
  [data-theme="dark"] {
    --bg-section: var(--black);
    /* --text-color: var(--white); */
    --bg-card: var(--grey);
    --card-text: var(--white);
    /* brød tekst: #595566 */
    --button-color: var(--black);
    --bg-button: var(--white);
  }
  section {
    display: grid;
    grid-template-columns: var(--grid-columns);
    background: var(--bg-section, var(--grey));
    /* background: var(--bg-color-2); */
    padding: var(--section-padding) 0;

    header {
      display: flex;
      justify-content: space-between;
      place-items: end;
      h2,
      p {
        color: var(--card-text, var(--text-color));
      }

      button {
        background: var(--bg-button, var(--black));
        color: var(--button-color, var(--white));
        border-radius: 2rem;
        padding: 1rem;
        height: fit-content;
      }
    }
  }
  article {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--grid-columns);
    container-type: inline-size;

    header {
      grid-column: content;
    }

    > ul {
      grid-column: full;
      display: grid;
      grid-template-columns: repeat(4, auto);
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      gap: 2rem;
    }

    @container (width < 800px) {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
