---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { employee } = Astro.props;
const { img, name, title, description, slug, social_links } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);

if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article class="flow-space">
  <a href="teamSingle.html">
    <div class="container">
      <!-- skal ind i image tag efter alt >> transition:name={slug}, skal ind på 
     tilsvarende tags på slug siden -->
      <Image class="img" src={images[img]()} alt={name} />
      <p class="subtitle">{title}</p>
    </div>
    <h5>{name}</h5>
    <p>{description}</p>
  </a>
  <ul role="list">
    <li><a href="#"><Icon name="facebook" /></a></li>
    <li><a href="#"><Icon name="instagram" /></a></li>
    <li><a href="#"><Icon name="linked-in" /></a></li>
  </ul>
</article>

<style>
  @layer components {
    article {
      color: var(--card-text);
      background: var(--bg-card);

      ul {
        display: flex;
        place-content: center;
        gap: 1rem;
      }
      [data-icon] {
        height: 25px;
        width: 25px;
        color: var(--black);
      }
      .container {
        display: grid;
        /* position: relative; */
        > :is(.img, .subtitle) {
          grid-area: 1 / 1;
        }

        > .subtitle {
          margin: 1rem;
          place-self: end end;
          display: grid;
          place-content: center;
          background: var(--black);
          color: var(--white);
          padding: 1rem 2rem;
          border-radius: 2rem;
          z-index: 2;
        }

        .subtitle:hover {
          background: var(--yellow);
          color: var(--black);
        }

        .subtitle:active {
          background: oklch(from var(--yellow) calc(l - 0.1) c h);
        }
      }
      img {
        border-radius: 1rem;
      }
      h5,
      p {
        text-align: center;
      }
    }
  }
</style>
