---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { employee } = Astro.props;
const { img, name, title, description } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);

if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article>
  <Image src={images[img]()} alt={name} />
  <h2>{name}</h2>
  <h3>{title}</h3>
  <p>{description}</p>
</article>

<style>
  @layer components {
    article {
      color: var(--card-text);
      background: var(--bg-card);
      display: block;
      position: relative;

      h3 {
        position: absolute;
        padding: 1rem 2rem;
        background: var(--black);
        color: var(--white);
        bottom: 20%;
        right: 20%;
        border-radius: 2rem;
      }
    }

    img {
      width: 400px;
      border-radius: 1rem;
    }
    h2,
    p {
      text-align: center;
    }
  }
</style>
